@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}


/* testimonal caraousel */

.testimonial-carousel.owl-theme .owl-dots .owl-dot span {
  background: #bbffd5 !important;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot.active span,
.testimonial-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: #1ea51e !important;
}

.franchise-logos.owl-theme .owl-nav.disabled+.owl-dots{
 display: none !important;
}
